<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head('Accomodations')"></div>

<body>

<div th:replace="admin/headerAdmin :: header('a')"></div>

<main role="main" class="container">
    <div th:replace="fragments/title :: title('List of accommodations', '/accomodations', 'user.id')"></div>

    <div class="row">
        <table class="responsive-table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Client</th>
                <th>Room</th>
                <th>Check In</th>
                <th>Check Out</th>
                <th>No. of Adults</th>
                <th>No. of Children's</th>
                <th>Price Accommodation</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="accomodation : ${accomodations}">
                <td th:text="${accomodation.id}"></td>
                <td th:text="${accomodation.user.firstName + ' ' + accomodation.user.lastName}"></td>
                <td th:text="${accomodation.room.roomType + ' ' + accomodation.room.priceNight}"></td>
                <td th:text="${accomodation.checkIn}"></td>
                <td th:text="${accomodation.checkOut}"></td>
                <td th:text="${accomodation.nrAdults}"></td>
                <td th:text="${accomodation.nrChildrens}"></td>
                <td th:text="${accomodation.priceAccomodation}"></td>
                <td>
                    <a th:href="'/accomodations/show?id=' + ${accomodation.id}" class="btn-floating btn-small waves-effect waves-light amber darken-3">
                        <i class="material-icons left">mode_edit</i>Edit
                    </a>
                    <a th:href="'/accomodations/delete?id=' + ${accomodation.id}" class="btn-floating btn-small waves-effect waves-light red darken-4">
                        <i class="material-icons left">delete</i>Delete
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <a th:href="'/accomodations/show'" class="waves-effect waves-light btn green">
            <i class="material-icons left">add_circle</i>New accommodation
        </a>
    </div>
</main>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>