<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<header th:fragment="header (active)">
   <ul id="dropdown1" class="dropdown-content">
              <li><a th:inline="text" href="#!">Logged user: <br/> [[${#httpServletRequest.remoteUser}]]</a></li>
              <li><a href="'/clients/showForHeader?id=' + ${user.id}" >Account Info</a></li>
              <li th:class="divider"></li>
              <li><a th:href="@{/logout}">Sign Out</a></li>
    </ul>
    <nav class="indigo accent-2" role="navigation">
        <div class="nav-wrapper container">  
            <a id="logo-container" href="/home" class="brand-logo">
                <i class="fa fa-pagelines"></i>Four Seasons Hotel
            </a>

            <!-- Web menu -->
            <ul class="right hide-on-med-and-down">
                <li th:class="${active == 'ya' ? 'active' : ''}"><a href="/accomodations/user">Your Accommodations</a></li>
                <li th:class="${active == 'r' ? 'active' : ''}"><a href="/roomsDescription">Rooms</a></li>
                <li th:class="${active == 's' ? 'active' : ''}"><a href="/services">Services</a></li>
                <li><a class="dropdown-trigger" href="#!" data-activates="dropdown1"><i class="material-icons">account_circle</i></a></li>
            </ul>

            <!-- Mobile menu -->
            <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
                <li th:class="${active == 'r' ? 'active' : ''}"><a href="/roomsDescription">Rooms</a></li>
                <li th:class="${active == 's' ? 'active' : ''}"><a href="/services">Services</a></li>
            </ul>

            <a href="#" data-activates="nav-mobile" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
        </div>
<!--         <div class = "nav-content"> -->
<!--         <p align = "right"><span th:inline="text">Logged user: [[${#httpServletRequest.remoteUser}]]! | <a th:href="@{/logout}"><u> Sign Out</u></a></span></p> -->
<!--         </div>      -->
    </nav>
</header>
</body>

</html>