<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head('Rooms')"></div>

<body>

	<div th:replace="fragments/header :: header('r')"></div>

	<main role="main" class="container">
    <!-- Page Layout here -->
    <div class="row">

      <div class="col s3"> <!-- Note that "m4 l3" was added -->
        
     <section class="mininav">
              <h1 style="font-size:25px" align="center" >Golden Suite</h1><br>
  

    <div class="collection">
        <a href="/golden" class="collection-item active waves-effect" align="center">Details</a>
        <a href="/golden/gallery" class="collection-item waves-effect" align="center">Gallery</a>
        <a href="#!" class="collection-item waves-effect" align="center">Book now</a>
        <a href="/roomsDescription" class="collection-item waves-effect" align="center">Back</a>
     </div>

    </section>   

      </div>

      <div class="col s9"> <!-- Note that "m8 l9" was added -->
        <h4>Details</h4>
        <blockquote><i>
       Discover the ultimate experience of your stay by indulging yourself in this high esthetic room while luxuriating 
       in the spacious sitting area and its spacious bath with a spa tub and separate walk-in shower. 
       Accommodates up to four guests. 2 balconies.The surface is approximately 56 m².</i>
        </blockquote>
        
        <h5>Amenities</h5>
        <div class="row">
        <div class="col s4 l4">
        <ul class="browser-default">
							<li>Accessible</li>
							<li>Cribs</li>
							<li>Air Conditioning</li>
							<li>Internet (Free,<br/> High-Speed, Wireless)</li>
							<li>TV (LCD)</li>
        </ul>
        </div>
        <div class="col s4 l4">
           <ul class="browser-default">
                            <li>Bath</li>
							<li>Hair Dryer</li>
							<li>Slipper</li>
							<li>Bathrobes</li>
							<li>Mirror</li>
							<li>Shower</li>
							
        </ul>
        </div>
        <div class="col s4 l4">
           <ul class="browser-default">
							<li>Electronic Door Lock</li>
							<li>Minibar</li>
							<li>Room service</li>
							<li>Wake-Up Service</li>
							<li>Balcony</li>
							<li>View</li>
							
							
							
        </ul>
        </div>
        </div>

      </div>

    </div>
	
    </main>

	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>