<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head('Rooms')"></div>

<body>

	<div th:replace="fragments/header :: header('r')"></div>

	<main role="main" class="container">
    <!-- Page Layout here -->
    <div class="row">

      <div class="col s3"> <!-- Note that "m4 l3" was added -->
        <!-- Grey navigation panel -->
     <section class="mininav">
              <h1 style="font-size:25px" align="center" >Prestige Suite</h1><br>
  

    <div class="collection">
        <a href="/prestige" class="collection-item waves-effect" align="center">Details</a>
        <a href="/prestige/gallery" class="collection-item active waves-effect" align="center">Gallery</a>
        <a href="/accomodations/show/request" class="collection-item waves-effect" align="center">Book now</a>
        <a href="/roomsDescription" class="collection-item waves-effect" align="center">Back</a>
     </div>

    </section>   

      </div>

      <div class="col s9"> <!-- Note that "m8 l9" was added -->
        
  <div class="carousel carousel-slider">
    <a class="carousel-item"><img src="http://www.thelodhi.com/images/suites-and-rooms.jpg"></a>
    <a class="carousel-item"><img src="https://media-cdn.tripadvisor.com/media/photo-s/09/aa/e8/aa/seaport-guest-room-bathroom.jpg"></a>
    <a class="carousel-item"><img src="https://exp.cdn-hotels.com/hotels/13000000/12650000/12642400/12642389/12642389_18_z.jpg"></a>
    <a class="carousel-item"><img src="http://tokyo.peninsula.com/en/~/media/Images/Tokyo/NEW/dining/in-room-dining/general/ptk-in-room-dining-1074.ashx?mw=952"></a>
 </div>
    <p></p>
      <div class = "row">
        <div class="col s12 m6 l3"><img class="materialboxed" width="160" height="100" src="http://www.thelodhi.com/images/suites-and-rooms.jpg"></div>
        <div class="col s12 m6 l3"><img class="materialboxed" width="160" height="100" src="https://media-cdn.tripadvisor.com/media/photo-s/09/aa/e8/aa/seaport-guest-room-bathroom.jpg"></div>
        <div class="col s12 m6 l3"><img class="materialboxed" width="160" height="100" src="https://exp.cdn-hotels.com/hotels/13000000/12650000/12642400/12642389/12642389_18_z.jpg"></div>
        <div class="col s12 m6 l3"><img class="materialboxed" width="160" height="100" src="http://tokyo.peninsula.com/en/~/media/Images/Tokyo/NEW/dining/in-room-dining/general/ptk-in-room-dining-1074.ashx?mw=952"></div>
     </div>

    </div>
      </div>
   
	
    </main>

	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>